.list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  color: darkgrey;
}

.item {
  display: flex;
  width: 180px;
  flex-direction: column;
}

.noInfo {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
