.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.text {
  padding: 10px 50px;
  text-align: justify;
  width: 900px;
}

.author {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noInfo {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
